@charset "utf-8";
/* Pieces: print */
/* base_path_placeholder */
/* @STYLES print */

/* @end STYLES print */
/* js_templates_placeholder */
/*
     FILE ARCHIVED ON 23:39:03 Feb 16, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:33:55 Oct 16, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.596
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.013
  esindex: 0.012
  cdx.remote: 106.154
  LoadShardBlock: 609.725 (3)
  PetaboxLoader3.datanode: 842.984 (5)
  load_resource: 744.977 (2)
  PetaboxLoader3.resolve: 380.759 (2)
*/