---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="404: Not Found"
	description="Page not found"
	pubDate={new Date('August 08 2023')}
	updatedDate={new Date('August 08 2023')}
>
	<div class="text-center">
		<h1>404: Not Found</h1>
		<p>The page you're looking for doesn't exist or has been moved.</p>
		<a href="/">Go back to the homepage</a>
	</div>
</Layout> 